body {
    margin: 0;
    padding: 0;
    background-color: #3c688e;
    height: 100vh;
  }
  #login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 300px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }



.btn-submit{
  text-align:center;
   padding:10px;
   min-width:330px;
   background-color:#651c3f; 
   color:white;
 }