



  .show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);
    list-style: none;
    }
    
    .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 35px;
    }
    
    .active { 
   
        background-color: #fafafa;
    } 